canvas {background:transparent}

.instructions {
  position: relative;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  letter-spacing: 2px;
  pointer-events: none;
}

canvas {
  width: 100%;
}

#container1 {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}

#reckon {
	width: 800px;
	margin: 100px auto;
	padding: 10px;
	border: 1px solid #333;
	color: #fff;
	text-align: center;
}


#text {
	display: block;
	font-size: 4rem;
	color: #fff;
}

.vertical {
	position: relative;
	display: inline-block;
	bottom: 20px;
	font-size: 1.7rem;

	-webkit-animation: toggle 1.5s ease infinite;
	        animation: toggle 1.5s ease infinite;
}

@-webkit-keyframes toggle {
	0% {
		opacity: 1.0;
		text-shadow: 0 0 20px #00c6ff;
	}
	50% {
		opacity: 0;
		text-shadow: none;
	}
	100% {
		opacity: 1.0;
		text-shadow: 0 0 20px #00c6ff;
	}
}

.heading-title {
    margin-bottom: 100px;
}
.text-center {
    text-align: center;
}
.heading-title h3 {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: normal;
}
.p-top-30 {
    padding-top: 30px;
}
.half-txt {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    color: #7e7e7e;
}
.text-uppercase {
    text-transform: uppercase;
}

.team-member, .team-member .team-img {
    position: relative;
}
.team-member {
    overflow: hidden;
}
.team-member, .team-member .team-img {
    position: relative;
}

.team-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.team-member:hover .team-hover .desk {
    top: 35%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 0 20px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member:hover .team-hover .s-link {
    bottom: 10%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member .s-link a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
}
.team-title {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
}
.team-title h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
}
.team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 1px;
}

.countdown-timer .countdown-message {
  display: block;
  color: #FFFFFF;
  font-size: 48px;
  text-align: center;
}
.countdown-timer .countdown-dispaly {
  display: block;
  margin: 0 0 0 8px;
  padding-top: 210px;
  padding-bottom: 210px;
  position: relative;
}



.countdown-timer .time-col {
  display: table-cell;
  width: 25%;
  border-left: 1px #5D6368 solid;
}
.countdown-timer .time-col:first-child {
  border-left: none;
}
.countdown-timer .counting,
.countdown-timer .subject {
  display: block;
  padding: 23px 0;
  color: #FFFFFF;
  text-align: center;
  line-height: 1em;
}
.countdown-timer .counting {
  font-size: 20px;
  font-weight: 700;
}
.countdown-timer .subject {
  position: relative;
  font-size: 30px;
}
.countdown-timer .subject span {
  position: absolute;
  left: 40%;
  top: 0;
  width: 20%;
  border-top: 1px #5D6368 solid;
}

#wrapper {
  visibility: hidden;
  height: 100vh;
}

#overlay {
  background: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  -o-transition: 1s;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
}

#info {
  position: fixed;
  top: 70%;
  left: 50%;
  background: rgba(99, 99, 99, .9);
  /*    box-shadow: 10px 10px 50px 20px #722f37;*/

  width: 90%;
  max-width: 400px;
  padding: 40px;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  transition: all 1s;
  z-index: 99;

  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


#info button:hover {
  color: #999;
}

#info label#close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  margin: 15px;
  font-size: 1.6em;
}

input[type="radio"] {
  display: none;
}

input[type="radio"][id="open"]:checked ~ #overlay {
  opacity: .8;
  z-index: 98;
}

input[type="radio"][id="open"]:checked ~ #info {
  visibility: visible;
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}



label:hover {
  Color: #999;
  cursor: pointer;
}


#ftco-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000; }

#ftco-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff ;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

#ftco-loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1; }

#ftco-loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

#ftco-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round; }

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }


#fh5co-work2 {
  overflow: hidden;

  color: rgba(255, 255, 255, 0.8);
}
#fh5co-work2 a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: underline;
}
#fh5co-work2 a:hover {
  color: white;
}

}
#fh5co-work2:before {
  top: 0;
  margin-top: -35px;
}
#fh5co-work2:after {
  bottom: 0;
  margin-bottom: -35px;
}
#fh5co-work2 .section-heading h2 {
  color: #fff;
}
#fh5co-work2 .section-heading h2:after {
  background: rgba(255, 255, 255, 0.3);
}
#fh5co-work2 .section-heading h3 {
  color: rgba(255, 255, 255, 0.8);
}
#fh5co-work2 .fh5co-project-item {
  display: block;
  width: 100%;
  position: relative;
  top: 0;
  background: #fff;
  overflow: hidden;
  z-index: 9;
  margin-bottom: 30px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#fh5co-work2 .fh5co-project-item img {
  z-index: 8;
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#fh5co-work2 .fh5co-project-item .fh5co-text {
  padding: 10px 20px;
}
#fh5co-work2 .fh5co-project-item .fh5co-text h2, #fh5co-work .fh5co-project-item .fh5co-text span {
  text-decoration: none !important;
}
#fh5co-work2 .fh5co-project-item .fh5co-text h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
#fh5co-work2 .fh5co-project-item .fh5co-text span {
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 400;
}
#fh5co-work2 .fh5co-project-item:hover, #fh5co-work .fh5co-project-item:focus {
  -webkit-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  top: -15px;
}
#fh5co-work2 .fh5co-project-item:hover img, #fh5co-work .fh5co-project-item:focus img {
  opacity: .7;
}
#fh5co-work2 .fh5co-project-item:hover h2, #fh5co-work .fh5co-project-item:hover span, #fh5co-work .fh5co-project-item:focus h2, #fh5co-work .fh5co-project-item:focus span {
  text-decoration: none !important;
}
